{% extends 'header.html' %}

{% block content %}



    <div class="container">

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="timeline-block">
							<div class="panel panel-default">
								
									<div class="panel-heading media media-box media-heading">
										<a href="" class="pull-left">
											<img src="../static/images/people/50/woman-5.jpg" class="media-object">
										</a>
										<div class="media-body">
											<a href="#" class="pull-right text-muted"><i class="icon-reply-all-fill fa fa-2x "></i></a>
											<a href="">Mary</a>
											<span>  level 3 contributor</span>
										</div>
									</div>
								
								<div class="map-div">
								<img src="http://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=370x300&scale=2&maptype=roadmap
				&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318
				&markers=color:red%7Clabel:C%7C40.718217,-73.998284" class="img-responsive">
								</div>
								
							<div class="rating star-rate">
                                    <span class="star"></span>
                                    <span class="star filled"></span>
                                    <span class="star filled"></span>
                                    <span class="star filled"></span>
                                    <span class="star filled"></span>
                                </div>
								
							
                            <div class="panel-body">
                                <ul class="icon-list block bordered">
                                    <li><i class="fa fa-calendar fa-fw"></i> <a href="#">1 Week</a>
                                    </li>
                                    <li><i class="fa fa-users fa-fw"></i> <a href="#"> 2 People</a>
                                    </li>
                                    <li><i class="fa fa-map-marker fa-fw"></i> <a href="#">Miami, FL, USA</a>
                                    </li>
                                </ul>
                            </div>
							</div>
						</div>
                    </div>
                    

                </div>

    </div>

{% endblock %}
